<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title -Trang Chủ Pizza</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<style>
        import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap');
     .{
         margin: 0;
         padding: 0;
     }
     html {
         background: url('img/Untitled1.png');
         background-size: 1500px ;


     }
     .form-heading {
          color: white;
     }
      #wrapper {
          text-align: center;
          padding: 5px 0;
          border: 2px solid red;
          background-color:red;

    }
    .container{
         max-width: 960px;
         margin: 0px auto;
     }
     nav{
         display: flex;
         justify-content: space-between;
         justify-items: center;
     }
     #main-menu{
         display: flex;
         list-style: none;
         margin: 0;
         padding: 0;
     }
     #main-menu li a{
         color: #f8f8f8;
         display: block;
         padding: 18px 20px;
         text-decoration: none;
         font-size: xx-large;
     }
    .in {
        display: block;
        margin-left: 0px;
        width: 17%;
        border: 3px solid red;
        padding: 10px;
        height: 300px;
        font-family: serif;
    }
      body{
          font-family: 'Open Sans', sans-serif;
          font-size: 14px;
          line-height: 1.15;
          color: #111;
      }



      .item img{
          width: 39px;
          height: 39px;
          border-radius: 50%;
      }
      .item{
          list-style: none;
          padding: 11px;
      }
    .grid {
        width: 2000px;
        max-width: 100%;
        margin: 0 auto;
        text-align: center;
    }

    .grid_row {
        display: block;
        flex-wrap: wrap;
        margin: 0;
        color: white;
        border-style: dotted solid;
    
    }
      .footer{
          padding-top: 330px;
          text-align: center;
          font-size: 15px;
          font-weight: bold;
          font-style: italic;

      }
</style>
<body>
    <div id="wrapper">
        <div id="header">
            <nav class="container">
                <a href="" id="Logo">
                    <img style="height: 90px; width: 90px;" src="img/piza.png" alt="Logo" />
                </a>
                <ul id="main-menu">
                    <h1>
                    <li><a href="">Trang Chủ Quản Lý Pizza</a></li></h1>
                </ul>
                <li class="item">
                    <div class="avt">
                        <img src="img/userimg.png" alt="User image" />
                        <h4>Admin</h4>
                    </div>
                </li>
            </nav>
        </div>
    </div>
    <div class="in">

        <a href="menu" style="color: red;">
            <h3>Quản Lý Cửa Hàng Pizza</h3>
        </a>
        <br />
        <a href="DMSP" style="color: red;">
            <h3>Danh Mục Sản Phẩm</h3>
        </a>
        <br />

        <a href="https://localhost:44350/" style="color: red;">
            <h3>Quản Lý Tồn Kho</h3>
        </a>
        <br />
        <a href="https://localhost:44350/NguyenLieu/Create" style="color: red;">
            <h3>Quản Lý Nhập Kho</h3>
        </a>

    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <div class="grid">
                <div class="grid_row" style="background-color: black;">
                    <p>Công ty TNHH Hai Thành Viên.</p>
                    <p>Số Điện Thoại: 09****09.</p>
                    <p>Đ/C:cửu việt 2-367/127.</p>
                </div>
            </div>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
